* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: fonte-nav;
  src: url("../fonts/Pokemon-Hollow.ttf");
}

a {
  text-decoration: none;
}

.header {
  align-self: center;
  border-bottom: 1px solid #e2e8f0;
  background-color: var(--bg-nav-color);
  font-family: fonte-nav;
  padding: 1rem 10rem 1rem 10rem;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
}

.hamburger {
  display: none;
}

.bar {
  background-color: #fff;
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  width: 25px;
  -webkit-transition: all 0.3s ease-in-out;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  margin-right: 6rem;
}

.nav-item {
  margin-left: 4rem;
}

.nav-item:nth-child(1) {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--font-nav-color);
}

.nav-link:hover {
  color: #482ff7;
}

.nav-logo {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
}

.nav-logo img {
  max-width: 20%;
  min-width: 10rem;
  transition: all 1s ease-in-out;
}

@media only screen and (max-width: 850px) {
  .header {
    top: 0;
    min-height: 6.05rem;
    position: fixed;
    padding: 1rem;
  }

  .nav-logo img {
    margin: auto;
  }

  .nav-menu {
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    background-color: #222;
    flex-direction: column;
    left: -100%;
    position: fixed;
    text-align: center;
    top: 6rem;
    transition: 0.3s;
    width: 100%;
  }

  .nav-link {
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-item:nth-child(1) {
    margin-left: 0;
  }

  .hamburger {
    cursor: pointer;
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
